/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

h1{
  	/* text color */
    color: chartreuse;
	/* text background colro */
    background-color: azure;
	/* text align center */
    text-align: center;
}
